h1 {
font-size:80px;
font-family:"cursive";
font-weight: bold;
color:#cf161e;
}
h4 {
font-size:40px;
font-family:"Goudy Old Style";
font-weight: italic;
color:#cf161e;
}





.test2 {
font-family:"Goudy Old Style";
font-size:25px;
color:#cf161e;
}
body  {
   background-image: url("/assets/images/bills3.jpg");
   background-size: 100%;
}